
LoggerService/obj/Debug/netstandard2.0/LoggerService.csprojAssemblyReference.cache
LoggerService/obj/
LoggerService/bin/
Contracts/obj/
Contracts/bin/
Entities/obj/
Entities/bin/
Repository/obj/
Repository/bin/
Ticketvoordeel/obj/
Ticketvoordeel/bin/

Ticketvoordeel/obj/Debug/netcoreapp3.1/Ticketvoordeel.csproj.CoreCompileInputs.cache
.vs/Ticketvoordeel/v16/.suo
*.cache
*.dll
*.pdb
