@{
    ViewData["Title"] = "TicketvoordeelHistoryMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #TicketvoordeelMail {
        background-color: #e54d95 !important;
        color: white !important;
    }

        #TicketvoordeelMail .text, #TicketvoordeelMail .icon {
            color: white !important;
        }

    #TicketvoordeelHistoryMail {
        color: #e54d95 !important;
    }
</style>

<div> History Mail</div>

@section Scripts {
    <script></script>
}
