@{
    ViewData["Title"] = "TicketvoordeelMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #TicketvoordeelMail {
        background-color: #e54d95 !important;
        color: white !important;
    }

        #TicketvoordeelMail .text, #TicketvoordeelMail .icon {
            color: white !important;
        }
</style>

<div>Mail Dashboard</div>

@section Scripts {
<script></script>
}
